:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
  /** primary end **/
  --ion-color-apple: #66ff99;
  --ion-color-apple-rgb: 255, 204, 102;
  --ion-color-apple-contrast: #000000;
  --ion-color-apple-contrast-rgb: 0, 0, 0;
  --ion-color-apple-shade: #70e05a;
  --ion-color-apple-tint: #66ffaa;

  ion-tab-button.tab-selected {
    ion-icon,
    ion-label {
      color: var(--ion-color-apple) !important;
      --ion-color-base: var(--ion-color-apple) !important;
    }
  }
}

.ion-color-apple {
  --ion-color-base: var(--ion-color-apple);
  --ion-color-base-rgb: var(--ion-color-apple-rgb);
  --ion-color-contrast: var(--ion-color-apple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-apple-contrast-rgb);
  --ion-color-shade: var(--ion-color-apple-shade);
  --ion-color-tint: var(--ion-color-apple-tint);
}
